<html>
    {{template "import" .}}
    <link rel="stylesheet" type="text/css" href="/css/home/index.css">
    <body class="home-index">
        {{template "header" .}}
        <div class="content">
            <div class="project-list">
                <div class="title">
                    <span>项目列表</span>
                    <span>+</span>
                </div>
                <ul class="list">
                    <li class="project-item">TestProject</li>
                    <li class="project-item">TestProject</li>
                    <li class="project-item">TestProject</li>
                    <li class="project-item">TestProject</li>
                    <li class="project-item">TestProject</li>
                </ul>
            </div>
            <div class="main-content">
                <div class="name">Laily123/lengxiaohua</div>
                <div class="desc">
                    <div class="switch">
                        <span>当前</span>
                        <span>历史</span>
                    </div>
                    <div>
                        <div class="commit-info">
                            <div class="commit-title">master Update README.md</div>
                            <div class="commit-desc"></div>
                        </div>
                        <div class="job-info">
                            <div class="job-title"></div>
                            <div class="job-info"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
