<div class="new-project">
    <div class="title">添加项目</div>
    <div class="ui labeled input">
        <div class="ui label">
            http://
        </div>
        <input id="url-input" class="url-input" type="text" placeholder="请输入你的git仓库地址">
    </div>

    <div class="ui inverted green button submit" onclick="Obj.submit()">提交</div>
</div>
