.container{
    width: 80%;
    margin:20px auto;
    padding:0 30px;
}

.header{
    margin: 0 auto;
    padding: 0 1em;
    height: 3.5em;
    line-height: 3.5em;
    background-color: #f1f1f1;
    color: #666;
    width: 80%;
}

.header span{
    display: inline-flex;
    padding-left: 5em;
}

.header .exit-button{
    float: right;
    padding-left: 1em;
    cursor: pointer;``
}

.header .exit-button:hover{
    color: #39aa56;
}

.header .login-user{
    float: right;
    cursor: pointer;
}
