{{define "import"}}
    <head>
        <title>标题</title>
        <link rel="stylesheet" type="text/css" href="/css/common/index.css">
        <link href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet">
        
        <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
    </head>
{{end}}
