<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Build List</title>
</head>
<body>
	<h3>Project # {{$project_id}} : {{$project_name}}</h3>

	<div>
		<div class="description">
			{{$project_description}}
		</div>
		<div>
			<table>
				<tr>
					<td>id</td>
					<td>result</td>
					<td>commit message</td>
					<td>create at</td>
				</tr>
				{{range $build := .builds}}
				<tr>
					<td>{{$build.id}}</td>
					<td>{{$build.result}}</td>
					<td>{{$build.message}}</td>
					<td>{{$build.create_at}}</td>
				</tr>
				{{end}}
			</table>
		</div>
	</div>
</body>
</html>