<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project List</title>
</head>
<body>
	
	<h3>project list</h3>

	<table>
		<tr>
			<td>id</td>
			<td>name</td>
			<td>description</td>
			<td>mode</td>
			<td>create at</td>
		</tr>
		{{range $project := .projects}}
		<tr>
			<td>{{$project.id}}</td>
			<td><a href="/project/{{$project.id}}">{{$project.name}}</a></td>
			<td>{{$project.description}}</td>
			<td>{{$project.mode}}</td>
			<td>{{$project.create_at}}</td>
		</tr>
		{{end}}
	</table>

</body>
</html>

