<html>
    {{template "import" .}}
    <link rel="stylesheet" type="text/css" href="/css/user/index.css">
    <body>
        {{template "header"}}
        <div class="login-container">
            <div class="title"><h2>登 录</h2></div>
            <div class="ui form">
                <div class="field">
                    <label>用户名</label>
                    <input type="text" name="what1">
                </div>
                
                <div class="field">
                    <label>密码</label>
                    <input type="password" name="what2">
                </div>
            </div>
            <div class="the-button">
                <div class="ui button green login" onclick="Login.login()">登录</div>
                <div class="ui button Olive">注册</div>
            </div>
        </div>
        <script>
            var Login = {
                login: function(){
                    $.post("/user/do_login",{
                        what1:$("input[name=what1]").val();
                        what2:$("input[name=what2]").val()
                    },function(data){
                         
                    })
                }
            }
        </script>
    </body>
</html>
